:root {
    --color-primary: #3498db;
    --color-secondary: #2ecc71;
    --color-tertiary: #e74c3c;
    --color-text-primary: #333333;
    --color-text-secondary: #777777;
    --color-background: #f5f5f5;
  }